<!DOCTYPE html>
<html>
  <head>
      <title>Agnibho Roy</title>
      <link rel="stylesheet" href="assets/css/main.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Hey! I'm Agnibho Roy. I'm a UC Berkeley student studying EECS and Business, and I am interested in computer science, trading, and teaching.">
  </head>
  <body>
    <div class="main-container home-container">
      <section class="home-title">
        <div class="home-header">
          <h1 class="title-name"><a href="#">Agnibho Roy</a></h1>
          <div class="title-links">
            <ul>
              <li><a class="active" href="#">Home</a></li>
              <li><a class="" href="coursework/index.html">About</a></li>
              <li><a class="" href="teaching/index.html">Teaching</a></li>
            </ul>
        </div>
        </div>
      </section>

      <section class="home-about marginBot-xxl marginTop-xl">
        <div class="prof-img">
          <img src="assets/img/prof.jpg" alt="">
          <section class="social-media-container marginTopBot-lg">
            <ul>
              <li><a target="_blank" href="mailto:agnibhoroy@berkeley.edu"><img src="assets/img/gmail-logo.png" alt=""></a></li>
              <li><a target="_blank" href="http://linkedin.com/in/roy"><img src="assets/img/linkedin-logo.jpeg" alt=""></a></li>
              <li><a target="_blank" href="https://www.github.com/agnibhoroy"><img src="assets/img/github-logo.png" alt=""></a></li>
             </ul>
          </section>
        </div>

        <div class="about-text-container">
          <p class="about-text">
              Hello! I'm <strong>Agnibho Roy</strong>, a third-year undergraduate student studying EECS and Applied Mathematics at UC Berkeley. My primary interests lie in stochastic processes, quantitative research, and theoretical machine learning. Download my resume <a target = "_blank" class="homepage-link" href="files/resume.pdf">here</a>. 
          </p>

          <p class="about-text">
              Last summer, I worked on a compressed backtesting environment for a portfolio algorithm as part of the LOGAN algorithm development team on the global equities desk at RBC. This upcoming summer, I am going to be a trading intern on the semi-systemic options desk at Citadel Securities. Read more about my industry experience <a class="homepage-link"  href="experience/index.html">here</a>.
          </p>

          <p class="about-text"> 
              Currently, I am part of the RISE lab at UC Berkeley, working with postdoc Matthew Wright on analyzing benefits of Hinge Loss Training for Deep Neural Networks. Apart from career and research interests, I enjoy teaching. I am a head content GSI for Data Science Principles and Techniques, and have taught other classes in the past. Ive been taking the time this past year to write content ranging from class notes to interview preparation, which you can check out <a class="homepage-link"  href="teaching/index.html">here</a>.
          </p>

        </div>

        <div class="history-tl-container">
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">Citadel Securities</div>
            <div class="item-detail">Incoming Quant Trading Intern - Summer 2021</div>
          </li>

          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">Royal Bank of Canada</div>
            <div class="item-detail">Quant Trading and Resesarch Intern - Summer 2020</div>
          </li>

          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">Fidelity Investments</div>
            <div class="item-detail">Software Engineering Intern - Summer 2019</div>
          </li>

          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">MIT Francis Bitter Laboratory</div>
            <div class="item-detail">Research Intern - Summer 2017</div>
          </li>

         </ul>
        </div>
      </section>
  </div>
    <script src="assets/js/script.js"></script>

  </body>
</html>
